.course-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
  }
  
  .course-box {
    background-color: #ffff99; 
    border: 2px solid yellow; 
    border-radius: 10px;
    padding: 1rem; 
    width: 200px; 
    min-height: 20pxpx;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: center; 
  }